[submodule "e-Paper"]
	path = e-Paper
	url = https://github.com/waveshare/e-Paper.git
[submodule "libcamera"]
	path = libcamera
	url = https://git.libcamera.org/libcamera/libcamera.git
[submodule "libcamera-apps"]
	path = libcamera-apps
	url = https://github.com/raspberrypi/libcamera-apps.git
