[submodule "QR-Code-generator"]
	ignore = untracked
	path = QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "3d_print/PiSugar"]
	path = 3d_print/PiSugar
	url = git@github.com:PiSugar/PiSugar.git
