[submodule "e-Paper"]
	path = eink/e-Paper
	url = https://github.com/waveshare/e-Paper.git
[submodule "libcamera"]
	path = libcamera
	url = https://git.libcamera.org/libcamera/libcamera.git
[submodule "libcamera-apps"]
	path = libcamera-apps
	url = https://github.com/raspberrypi/libcamera-apps.git
[submodule "QR-Code-generator"]
	ignore = untracked
	path = QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "3d_print/PiSugar"]
	path = 3d_print/PiSugar
	url = git@github.com:PiSugar/PiSugar.git
